/* General */

.navbar .navbar-nav li .nav-link:hover {
	color: #dc3545;
}

#how-it-works,
#tools,
#courses,
#depositions,
#the-teacher {
    padding: 130px 0 50px;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    color: #167dc1;
}

#subtitle {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Header */

header {
    padding: 130px 0 50px;
    background-color: whitesmoke;
}

nav {
    background-color: #DCDCDC;
}

nav img {
    width: 70px;
}

nav a {
    font-family: 'Saira Semi Condensed', sans-serif;
}

nav a:last-child, #call-to-action a:last-child {
    border-radius: 15px;
}

#call-to-action {
    margin: 70px 0;
}

#call-to-action #title {
    color: #167dc1;
    font-family: 'Varela Round', sans-serif;
}

#call-to-action img {
    width: 400px;
}

#call-to-action #description, #call-to-action a {
    font-family: 'Saira Semi Condensed', sans-serif;
}

#call-to-action .row div:nth-child(2) {
    text-align: right;
}

/* How It Works */

#how-it-works .name {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
}

#how-it-works .description {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

/* Tools*/

#tools {
    background-color: whitesmoke;
}

#tools .name {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
}

#tools .description {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

/* Courses */

#courses .box {
    border-radius: 10px;
}

#courses .name {
    background-color: #167dc1;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#courses .description {
    font-size: 14px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Depositions */

#depositions {
    background-color: whitesmoke;
}

#depositions .box {
    background-color: whitesmoke;
    border-radius: 30px;
}

#depositions img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#depositions .name {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
}

#depositions .description {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

/* The Teacher */

#the-teacher .nome {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
    font-size: 20px;
}

#the-teacher .descricao {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
}

#the-teacher img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Footer */

footer {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #167dc1;
}

@media (max-width: 767.98px) {
    header {
        padding-top: 80px;
        text-align: center;
    }

    #call-to-action .row {
        flex-flow: column-reverse;
    }

    #call-to-action .row div:nth-child(2) {
        text-align: center;
    }

    #call-to-action .row div:nth-child(1) {
        margin-top: 50px;
    }

    #call-to-action img {
        width: 200px;
    }

    #the-teacher .row {
        flex-flow: column-reverse;
    }

    #the-teacher img {
        width: 200px;
        height: 200px;
    }
}
