body {
}

header {
    background-color: whitesmoke;
}

header nav img {
    width: 80px;
}

header nav a {
    font-family: 'Saira Semi Condensed', sans-serif;
}

header nav a:last-child, header #chamada a:last-child {
    border-radius: 15px;
}

header #chamada img {
    width: 400px;
    float: right;
}

header #chamada {
    margin: 70px 0;
}

header #chamada #titulo {
    color: #167dc1;
    font-family: 'Varela Round', sans-serif;
}

header #chamada #descricao, header #chamada a {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* nav {
    background-color: red;
} */

form {
    background-color: #306072;
    border-radius: 10px;
    color: whitesmoke;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.descricao_ferramentas {
    font-family: 'Blinker', sans-serif;
}

#depoimentos img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

#depoimentos .bloco {
    background-color: #D3D3D3;
}

.nome_depoimentos {
    font-family: 'Josefin Sans', sans-serif;
}

.descricao_depoimentos {
    font-family: 'Blinker', sans-serif;
}