/* Reorganização */

header {
    padding: 130px 0 50px;
}

#funciona,
#courses,
#depoimentos,
#ferramentas,
#professor {
    padding: 130px 0 50px;
}


/* Título e Subtítulo */

h1 {
    font-family: 'Varela Round', sans-serif;
    color: #167dc1;
}

#subtitulo {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Funciona */

#funciona .nome {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
}

#funciona .descricao {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

/* Courses */

#courses .box {
    border-radius: 10px;
}

#courses .nome {
    background-color: #167dc1;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#courses .description {
    font-size: 14px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Depoimentos */

#depoimentos {
    background-color: whitesmoke;
}

#depoimentos .bloco {
    background-color: whitesmoke;
    border-radius: 30px;
}

#depoimentos img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#depoimentos .nome {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
}

#depoimentos .relato {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

/* Ferramentas*/

#ferramentas .nome {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
}

#ferramentas .descricao {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}

/* O Professor */

#professor {
    background-color: whitesmoke;
}

#professor .nome {
    font-family: 'Varela Round', sans-serif;
    color: #dc3545;
    font-size: 20px;
}

#professor .descricao {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
    font-size: 17px;
    line-height: 30px;
}

#professor img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* Footer */

footer {
    background-color: #167dc1;
}

footer p {
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Reorganização */

header {
    background-color: whitesmoke;
    /* margin-top: 96px; */
}

nav {
    background-color: #DCDCDC;
}

nav img {
    width: 70px;
}

nav a {
    font-family: 'Saira Semi Condensed', sans-serif;
}

nav a:last-child, header #chamada a:last-child {
    border-radius: 15px;
}

#chamada .row div:nth-child(2) {
    text-align: right;
}

header #chamada img {
    width: 400px;
}

header #chamada {
    margin: 70px 0;
}

header #chamada #titulo {
    color: #167dc1;
    font-family: 'Varela Round', sans-serif;
}

header #chamada #descricao, header #chamada a {
    font-family: 'Saira Semi Condensed', sans-serif;
}

form {
    background-color: #306072;
    border-radius: 10px;
    color: whitesmoke;
}

@media (max-width: 767.98px) {
    header {
        padding-top: 80px;
        text-align: center;
    }

    #chamada .row {
        flex-flow: column-reverse;
    }

    #chamada .row div:nth-child(2) {
        text-align: center;
    }

    #chamada .row div:nth-child(1) {
        margin-top: 50px;
    }

    header #chamada img {
        width: 200px;
    }

    #professor .row {
        flex-flow: column-reverse;
    }

    #professor img {
        width: 200px;
        height: 200px;
    }
}
